#chat {
  width: 300px;
  height: 232px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
}

#chat .history {
  height: 180px;
  overflow-y: scroll;
}

#chat form input[type=submit] {
  display: none;
}

#chat form input[type=text] {
  width: 100%;
}

#chat ul.types {
  padding: 4px 0;
}
#chat ul.types li {
  list-style-type: none;
  cursor: pointer;
  float: left;
  width: 20%;
}

#chat li:active, #chat li:hover {
  text-decoration: underline;
}

#chat ul.types li.active {
  color: blue;
}
