#chatBox {
  width: 300px;
  height: 400px;
  position: relative;
  margin: 50px auto;
}

#chatBox .history {
  max-height: 100%;
  overflow-y: scroll;
  margin-bottom: 30px;
}

#chatBox form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#chatBox form input[type=submit] {
  display: none;
}

#chatBox form input[type=text] {
  width: 100%;
}
