* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, .content {
    height: 100%;
    font-size: 10px;
}

#login header {
    height: 30%;
    text-align: center;
}

#login header h1 {
    padding: 10% 0 0;
    font-size: 4em;
}

#login form {
    height: 70%;
    padding: 50px 30% 0;
    text-align: center;
    position: relative;
}

#login form input.text {
    box-sizing: content-box;
    width: 100%;
    height: 1.3em;
    font-size: 1.4em;
    padding: 5px;
    margin: 1em 0;
}

#login form .errors {
    display: none;
    color: red;
    font-size: 1.3em;
}

#login form .submit {
}
